@import "vars";
@import "mobile";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   }
.formItem {display: flex;flex-direction: column;justify-content: start;
    margin-right: 2em; margin-bottom: 1em;
    .errmsg{font-size: 0.6em;font-style: italic;color: $Lightred;}
    label{font-size: 0.7em;}
}
.errformItem{
    label{color: $Lightred;};
    input{border-color: $Lightred;}
}
input{padding: 0.5rem; width: 100%;height: 2.7rem;
    border-radius: 5px;border: solid 1px $Lightgrey;
    font-weight: bold;font-size: 1.2rem;
}
body {
    font-family: Poppins;
    background-color: $Offwhite;
    height: 100vh;    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        background-color: $White;
        border-radius: 1rem 1rem 6rem 1rem;
        padding: 3rem;
        width: 40%;
        height: 60%;
        .up{display: flex;justify-content: start;width: 100%;}
        .form {display: flex;
            width: 90%;
            justify-content: start;
            .day {@extend .formItem};
            .month {@extend .formItem};
            .year {@extend .formItem}
        }
        .down{display: flex;flex-direction: column; justify-content: center;align-items: start;
        font-size: 34px;font-style: italic;font-weight: bold;
        span{color: $Purple;}
        }
    }
}
    .mid{
        position: relative;
        // display: flex;
        h2 {
        width: 80%; 
        border-bottom: 1px solid $Lightgrey; 
        margin: 20px 0; 
        } 
        img{
        cursor: pointer;
        background-color: $Offblack;
        border-radius: 50%;
            position: absolute;
            left: 80%;
            top: -20px;
            z-index: 1;
    }
}
@media only screen and (max-width: 600px) {
    .formItem {
        margin-right: 1em; 
    }
    input{
        font-size: 1rem;
    }
            body{
                .container{
                    width: 90%;
                    height: 80%;
                    .up{display: flex;justify-content: center;width: 100%;
                        .form {display: flex;
                        width: 100%;
                        justify-content: center;
                        }
                    }
                    .mid{
                            position: relative;
                            h2 {
                            width: 95%; 
                            border-bottom: 1px solid $Lightgrey; 
                            margin: 20px 0; 
                            } 
                            img{
                                position: absolute;
                                left: 40%;
                                top: -20px;
                                // z-index: -1;
                            }
                    }
                }
            }
}